/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/channel-artifacts/*.pb
/forensicanalyst-artifacts/crypto-config/*
/prosecutor-artifacts/crypto-config/*
/courtroompersonnel-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/collectingofficer/*
organizations/fabric-ca/evidencecustodian/*
addForensicAnalyst/fabric-ca/forensicanalyst/*
addProsecutor/fabric-ca/prosecutor/*
addCourtroomPersonnel/fabric-ca/courtroompersonnel/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
