# Sample .env file
#
# These are the minimum configuration variables required to start the sample
#
# See src/config.ts for details and for all the available configuration
# variables
#

HLF_CONNECTION_PROFILE_COLLECTINGOFFICER=

HLF_CERTIFICATE_COLLECTINGOFFICER=

HLF_PRIVATE_KEY_COLLECTINGOFFICER=

HLF_CONNECTION_PROFILE_EVIDENCECUSTODIAN=

HLF_CERTIFICATE_EVIDENCECUSTODIAN=

HLF_PRIVATE_KEY_EVIDENCECUSTODIAN=

COLLECTINGOFFICER_APIKEY=

EVIDENCECUSTODIAN_APIKEY=
